{% extends "projects/base.html" %}
{% block body %}
  <h1>My Requests</h1>
  <h2> Received Requests </h2>
    {% for request in received_requests %}
    <div class="{{request.status.cardClass.cardClass}}">
      <div class="card-body">
          {{request}}<br>
          Notes:{{request.note}}
          <button class="float-right btn btn-primary modify" data-modify="denied" data-request_id={{request.id}}>Deny</button>
          <button class="float-right btn btn-primary modify" data-modify="approved" data-request_id={{request.id}}>Approve</button>
      </div>
    </div>
    {% empty %}
    No Received Requests
    {% endfor %}
  <h2> Sent Requests </h2>
    {% for request in sent_requests %}
    <div class="{{request.status.cardClass.cardClass}}">
      <div class="card-body">
          {{request}}<br>
          Notes:
            {{request.note}}
      </div>
    </div>
    {% empty %}
      No sent requests
    {% endfor %}
    <script>
      document.addEventListener('DOMContentLoaded', () => {

        //Get an alert when a button is clicked, and pass on that data
        document.querySelectorAll('.modify').forEach(function(button) {
          button.onclick = function() {
            //Prompt the user for a note
            var note = prompt("Notes to sender:", 'Sorry, our team is currently full');

            //Fill in the appropriate variables
            let modification = button.dataset.modify;
            let request_id = button.dataset.request_id;
            console.log(request_id)

            //Send that information to the appropriate link
            location.href = "{% url 'projects:request_modification' %}"


          };
        });

      });
    </script>
{% endblock %}
